div#clientid(class='leftarea')
    h2|client id
    img#connstatus(src='/static/disconnected.png')
    | The client will listen for remote control messages
    | with this identifier:
    br
    input#clientUid(type='text', value='', disabled='disabled')
    br
    button#changeClientId(value='xxx')
      |change
    |&nbsp;
    button#closeClientId(value='xxx')
      |close
