div(id='imagepool')
  div(id='dropsite')
    p
      |(drop images here)
    input(type="file", id="choosefiles", multiple="1")
    button(id="random10")
      | random 10
  div(id='imageset')
  input(type="button", id="useSet", value="use as set 3")
