div(id='imagepool')
  div(id='dropsite')
    p
      |(drop images here)
    input(type="file", id="choosefiles", multiple="1")
    button(id="random10")
      | random 10
  ul(class='tabs')
    li(id='settab1', class='selected')
      a(href="#")|set1
    li(id='settab2')
      a(href="#")|set2
    li(id='settab3')
      a(href="#")|set3
    li(id='settab4')
      a(href="#")|set4
    li(id='settab5')
      a(href="#")|set5
    li(id='settab6')
      a(href="#")|set6
    li(id='settab7')
      a(href="#")|set7
    li(id='settab8')
      a(href="#")|set8
    li(id='settab9')
      a(href="#")|set9
    li(id='settab10')
      a(href="#")|set10
  div(id='imageset1', class='imageset')
  div(id='imageset2', class='imageset')
  div(id='imageset3', class=['imageset', 'selected'])
  div(id='imageset4', class='imageset')
  div(id='imageset5', class='imageset')
  div(id='imageset6', class='imageset')
  div(id='imageset7', class='imageset')
  div(id='imageset8', class='imageset')
  div(id='imageset9', class='imageset')
  div(id='imageset10', class='imageset')
  input(type="button", id="useSet", value="use as set 3")
