html
  head
    title|cuspid workspace
    link(rel="stylesheet", href="/static/cuspid.css")
  body
    div.up
      a(href="/workspace")|🚫
    div.indexSplash
      div
        | 🦷 
        br
        span.xx|(soon)
