div#keys(class='leftarea')
  h2|modes
  img#key(src='/static/k-key.png')
  table
    tr
      td.key|⟵
      td|scroll left
    tr
      td.key|→
      td|scroll right
    tr
      td.key|↑
      td|scroll up
    tr
      td.key|↓
      td|scroll down
    tr
      td.key|shift ↑
      td|zoom in
    tr
      td.key|shift ↓
      td|zoom out
    tr
      td.key|s
      td|image sequence
    tr
      td.key|t
      td|tunnel/zoom sequence (in)
    tr
      td.key|T
      td|tunnel/zoom sequence (out)
    tr
      td.key|shift ⟵
      td|pallete scroll down
    tr
      td.key|shift →
      td|palette scroll up

  h2|misc
  table
    tr
      td.key|SPACE
      td|pause
    tr
      td.key|+
      td|increase animation speed
    tr
      td.key|-
      td|decrease animation speed
    tr
      td.key|ctrl ⟵
      td|decrease animation delta x pos
    tr
      td.key|ctrl →
      td|increase animation delta x pos
    tr
      td.key|ctrl ↑
      td|decrease animation delta y pos
    tr
      td.key|ctrl ↓
      td|increase animation delta y pos
    tr
      td.key|z
      td|zoom out (when in scrolling mode)
    tr
      td.key|shift z
      td|zoom in (when in scrolling mode)
    tr
      td.key|n
      td|next image
    tr
      td.key|d
      td|toggle dot effect
    tr
      td.key|q
      td|decrease dot scale
    tr
      td.key|w
      td|increase dot scale
    tr
      td.key|g
      td|toggle glitch effect
    tr
      td.key|i
      td|toggle interpolation mode
    tr
      td.key|f
      td|toggle fps overlay
    tr
      td.key|F
      td|advance a single "frame"
    tr
      td.key|c
      td|view/change client id
    tr
      td.key|k | ?
      td|show/hide keys
