div#keys(class='leftarea')
  h2|modes
  img#key(src='/static/k-key.png')
  table
    tr
      td.key|⟵
      td|scroll left
    tr
      td.key|→
      td|scroll right
    tr
      td.key|↑
      td|scroll up
    tr
      td.key|↓
      td|scroll down
    tr
      td.key|shift ↑
      td|zoom in
    tr
      td.key|shift ↓
      td|zoom out
    tr
      td.key|s S
      td|image sequence / still
    tr
      td.key|t
      td|tunnel/zoom sequence (in)
    tr
      td.key|T
      td|tunnel/zoom sequence (out)
    tr
      td.key|shift ⟵
      td|pallete scroll down
    tr
      td.key|shift →
      td|palette scroll up
    tr
      td.key|b
      td|blend mode

  h2|misc
  table
    tr
      td.key|SPACE
      td|pause
    tr
      td.key|+ -
      td|speed up / down
    tr
      td.key|ctrl ⟵
      td|nudge left
    tr
      td.key|ctrl →
      td|nudge right
    tr
      td.key|ctrl ↑
      td|nudge up
    tr
      td.key|ctrl ↓
      td|nudge down
    tr
      td.key|z
      td|zoom out (when in scrolling mode)
    tr
      td.key|shift z
      td|zoom in (when in scrolling mode)
    tr
      td.key|[ ]
      td|blend bias up/down
    tr
      td.key|n
      td|next image
    tr
      td.key|d
      td|toggle dot effect
    tr
      td.key|q
      td|decrease dot scale
    tr
      td.key|w
      td|increase dot scale
    tr
      td.key|g
      td|toggle glitch effect
    tr
      td.key|i
      td|toggle interpolation mode
    tr
      td.key|I
      td|toggle invert effect
    tr
      td.key|f
      td|toggle fps overlay
    tr
      td.key|F
      td|advance a single "frame"
    tr
      td.key|0-9
      td|choose image set {n}
    tr
      td.key|c
      td|view/change client id
    tr
      td.key|k | ?
      td|show/hide keys
