div(id='keys')

    h2|modes
    img#key(src='/static/k-key.png')
    table
        tr
            td.key|⟵
            td|scroll left
        tr
            td.key|→
            td|scroll right
        tr
            td.key|↑
            td|scroll up
        tr
            td.key|↓
            td|scroll down
        tr
            td.key|shift ↑
            td|zoom in animation mode
        tr
            td.key|shift ↓
            td|zoom out animation mode
        tr
            td.key|s
            td|image sequence mode
        tr
            td.key|shift ⟵
            td|pallete scroll down
        tr
            td.key|shift →
            td|palette scroll up

    h2|misc
    table
        tr
            td.key|+
            td|increase animation speed
        tr
            td.key|-
            td|decrease animation speed
        tr
            td.key|ctrl ⟵
            td|decrease animation delta x pos
        tr
            td.key|ctrl →
            td|increase animation delta x pos
        tr
            td.key|ctrl ↑
            td|decrease animation delta y pos
        tr
            td.key|ctrl ↓
            td|increase animation delta y pos
        tr
            td.key|z
            td|zoom out (when in scrolling mode)
        tr
            td.key|shift z
            td|zoom in (when in scrolling mode)
        tr
            td.key|n
            td|next image
        tr
            td.key|d
            td|toggle dot shader
        tr
            td.key|i
            td|toggle interpolation mode
        tr
            td.key|f
            td|toggle fps overlay
        tr
            td.key|k | ?
            td|show/hide keys
