html
  head
    title|cuspid workspace
    link(rel="stylesheet", href="/static/cuspid.css")
    script(src="/static/bundle.js")
  body
    div(id='top')
      h1|🦷_C_U_S_P_I_D_🦷
    div(id='leftside')
      div(style='display: block; position: relative')
        include ./clientid.pug
      div(style='display: block; position: relative')
        include keys.pug
    canvas(id='cnv')
    div(id='imagepool')
