html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	font-family: sans-serif;
	overflow: hidden;
}

body {
	background-color: #222224;
	color: #cccccc;
}

div#top {
	width: 100%;
	position: absolute;
	float: top;
	text-align: center;
	padding-top: 1px;
	border-bottom: dashed gray 1px;
	z-index: 9;
}

canvas#cnv {
	display: block;
	padding: 0px;
	margin: 0px;
	top: 0px;
	border: solid white 5px;
}

div#imagepool {
	width: 200px;
}

div#keys {
	max-width: 500px;
	border: solid #dddddd 2px;
	border-radius: 10px;
	position: absolute;
	margin-top: 100px;
	margin-left: 3px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 25px;
	z-index: 9;
	color: white;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
}

div#keys img#key {
	width: 75px;
	position: absolute;
	right: 3px;
	top: 3px;
}

div#keys td.key {
	width: 80px;
}
