html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	font-family: sans-serif;
	overflow: hidden;
}

body {
	background-color: #222224;
	color: #cccccc;
}

div#top {
	width: 100%;
	position: absolute;
	float: top;
	text-align: center;
	padding-top: 1px;
	border-bottom: dashed gray 1px;
	z-index: 9;
	transition: visibility 0s linear 0.5s, opacity 0.5s linear;
	font-size: 2em;
	background-color: #cccccc88;
}

div#top > h1 {
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

canvas#cnv {
	display: block;
	padding: 0px;
	margin: 0px;
	top: 0px;
	border: solid white 5px;
	transition: border-width 0.5s linear;
}

div#imagepool {
	width: 200px;
}

#leftside {
	padding-top: 100px;
	width: 500px;
	display: inline-block;
	max-width: 500px;
	position: absolute;
	padding-bottom: 25px;
	z-index: 9;
}

.leftarea {
	border: solid #dddddd 2px;
	border-radius: 10px;
	color: white;
	background-color: rgba(0, 0, 0, 0.7);
	margin-left: 3px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 25px;
}

div#keys {
	display: none;
}

div#clientid {
	display: none;
}

div#keys img#key {
	width: 50px;
	position: absolute;
	top: 5px;
	right: 5px;
}

div#clientid img#connstatus {
	width: 50px;
	position: absolute;
	top: 5px;
	right: 5px;
}

div#clientid button, div#clientid input {
	margin-top: 10px;
}

div.indexSplash {
	height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
	text-align: center;
	font-size: 12em;
	color: #cccccc22;
}
div.indexSplash > br
 {
    width: 100%;
    content: '';
 }
div.indexSplash > div > .xx {
	font-size: .25em;
}
div.up {
	text-align: right;
	float: top right;
	float: right;
	width: 100px;
	height: 100px;
	color: #cccccc0f;
	font-size: 4em;
}
div.up > a {
	color: #cccccc0f;
	text-decoration: none;
}

div#imagepool {
	display: none;

	position:absolute;
  top:50%; left:50%;
	transform:translate(-50%, -50%);

	width: 75%;
	max-width: 1035px;
	height: 75%;
	border: solid silver 2px;
	border-radius: 7px;
	padding: 15px;
	background-color: #000000BB;
	z-index: 10
}

div#dropsite {
	border: solid silver 2px;
	border-radius: 7px;
	padding: 15px;
	background-color: #000000BB;
	z-index: 11
}

div.imageset {
	margin-top: 10px;
	display: none;
}

div.imageset.selected {
	display: inline-block;
}

input#useSet {
	position:absolute;
  left:3%; bottom: 3%;
	/* transform:translate(0%, 0%); */
}

img.thumb {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
	width: 200px;
	height: 200px;
	margin: 3px;
}

ul.tabs {
	list-style-type: none;
	width: 100%;
	padding: 0px;
	margin: 10px 0 0 0;
}

ul.tabs > li > a {
	color: #444444;
	text-decoration: none;
}
ul.tabs > li > a:hover {
	color: white;
}

ul.tabs > li {
	border: solid #bbbbbb 1px;
	border-radius: 5px 5px 0 0;
	padding-left: 10px; padding-right: 10px;
	padding-top: 2px;
	margin-left: 3px;
	float: left;
}
ul.tabs > li.selected {
	background-color: #bbbbbb;
	color: black;
}
