html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	font-family: sans-serif;
	overflow: hidden;
}

body {
	background-color: #222224;
	color: #cccccc;
}

div#top {
	width: 100%;
	position: absolute;
	float: top;
	text-align: center;
	padding-top: 1px;
	border-bottom: dashed gray 1px;
	z-index: 9;
}

canvas#cnv {
	display: block;
	padding: 0px;
	margin: 0px;
	top: 0px;
	border: solid white 5px;
}

div#imagepool {
	width: 200px;
}

#leftside {
	padding-top: 100px;
	width: 500px;
	display: inline-block;
	max-width: 500px;
	position: absolute;
	padding-bottom: 25px;
	z-index: 9;
}

.leftarea {
	border: solid #dddddd 2px;
	border-radius: 10px;
	color: white;
	background-color: rgba(0, 0, 0, 0.7);
	margin-left: 3px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 25px;
}

div#keys {
	display: none;
}

div#clientid {
	display: none;
}

div#keys img#key {
	width: 50px;
	position: absolute;
	top: 5px;
	right: 5px;
}

div#clientid img#connstatus {
	width: 50px;
	position: absolute;
	top: 5px;
	right: 5px;
}

div#clientid button, div#clientid input {
	margin-top: 10px;
}
